html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --button-text-color: #ffffff;
  --primary-background-color: #fff;
  --secondary-background-color: #f5f4fa;
}

body {
  margin: 0;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Utilites */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Page-header */

.page-header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
/* LOGO */

.logo {
  color: var(--title-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-part {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

/* site-nav */

.site-nav {
  margin-left: 94px;
}

.site-nav.list {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.icon.mail {
  width: 16px;
  height: 12px;
}

.icon.phone {
  width: 10px;
  height: 16px;
}

/* Hero */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid var(--title-color);
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/BGI-hero.jpg);
  background-size: cover;
  background-position: center;
}

.container.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.overlay.hero {
}

.hero-title {
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--button-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--button-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  border: 1px solid transparent;
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features {
  display: flex;
  gap: 30px;
}

.features .items + .item {
  padding-left: 30px;
}

.section.team {
  background-color: var(--secondary-background-color);
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.features .title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
}

.features .text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* what do we do */

.section.what-we-do {
  padding-top: 0;
}

.works {
  display: flex;
  gap: 30px;
}

.works img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* TEAM */
.team-list {
  display: flex;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-list img {
  display: block;
}

.team-list .description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--primary-background-color);
}
.team-list .title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list .position {
  font-size: 16px;
  line-height: 1.19;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer .logo {
  color: var(--button-text-color);
  display: inline-block;
  margin-bottom: 20px;
}

.address-list .link.map {
  color: var(--button-text-color);
}

.address-list .link {
  display: block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-list .link.tel {
  margin-bottom: 0;
}

.adress-list .link:focus,
.address-list .link:hover {
  color: var(--accent-color);
}

/* PORTFOLIO */

.filters {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filters .item + .item {
  margin-left: 8px;
}

.button {
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border-radius: 4px;
}

.filters .button:hover,
.filters .button:focus {
  color: var(--button-text-color);
  background-color: var(--accent-color);
}

.button.primary {
  color: var(--button-text-color);
  background-color: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.secondary {
  color: var(--title-color);
  background-color: #f5f4fa;
  border-color: transparent;
}

/* Projects */

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects .project {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects .project:nth-child(3n) {
  margin-right: 0;
}

.projects .project:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project .img {
  display: block;
}

.wrp-img {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects .img-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects .img-description {
  font-size: 16px;
  line-height: 1.87;
}
